.background{
    margin-top: 20px;
    margin-bottom: 30px;
    width: 95vw;
    height: 60vh;
    background-image:url('./images/emp.jpg');
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
   
}